* {
    margin: 0;
}

.ArticleContainerDet {
    position:fixed;
    top: 0;
    left: 0;
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    box-shadow: 2px 2px 2px #999;
    border-radius: 0 0 0.5rem 0; 
    background-color: #fff;
}

.control {
    display: flex;
}

img {
    max-width: 30rem;
    max-height: 18rem;
    width: auto;
    height: auto;
    overflow: hidden;
    /* position: static; */
    /* left: 0; */
    /* background-size: cover; */
    border: solid 1px #000;
    box-shadow: 2px 2px 2px #999;
}

h2{
    text-align: left;
    text-indent: 1rem;
}

h5 {
    font-weight: lighter;
    font-style: italic;
    text-align: left;
    text-indent: 1rem;
}

p {
    text-indent: 0.5rem;
    text-align: left;
}
