.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 3rem
}

.button {
    background-color: #666;
    color: white;
    border: solid 1px #000;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}